@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Routes Finder</h1>
    <p>Select destination and way points.</p>

    <p>Map here</p>

    <form>
        <input type="text" id="startPoint" name="startPoint" />
        <label for="startPoint">Enter Start Address</label><br>

        <input type="text" id="midPoint1" name="midPoint1" />
        <label for="midPoint1">Enter Stop</label><br>

        <input type="text" id="endPoint" name="endPoint" />
        <label for="endPoint">Enter Desintation Address</label><br>
    </form>

</div>
